 * {
     box-sizing: border-box;
 }

 body,
 h1,
 p {
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 .sr-only {
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: inset(50%);
     height: 1px;
     width: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
 }

 body {
     display: grid;
     justify-content: center;
     align-items: center;
     background-color: hsl(217, 54%, 11%);
     min-height: 100vh;
     color: white;
     font-family: 'Outfit', sans-serif;
 }

 .card-container {
     display: grid;
     max-width: 23.4375rem;
     background-color: hsl(216, 50%, 16%);
     border-radius: 12px;
     padding: 25px;
 }


 .image-container {
     position: relative;
     border-radius: .5rem;
 }

 .hidden-eye {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     opacity: 0;
 }

 .cube {
     display: block;
     max-width: 100%;
     border-radius: .5rem;
 }

 .equilibrium {
     margin-top: 1.25rem;
     margin-bottom: 1.25rem;
     font-size: 1.375rem;
     color: white;
     font-weight: 600;
 }

 h2 {
     margin-top: 1.25rem;
     margin-bottom: 1.25rem;
 }

 p {
     color: hsl(215, 51%, 70%);
     font-weight: 300;
     margin-top: 0;
     margin-bottom: 2rem;
 }

 .nft-container {
     display: flex;
     justify-content: space-between;

 }

 .nft {
     display: flex;
 }

 .ethereum {
     color: hsl(178, 100%, 50%);
     font-weight: 600;
     padding-left: .5rem;
 }

 .time {
     display: flex;
     flex-flow: wrap;
 }

 .time img {
     padding-right: .5rem;
 }

 .days-left {
     color: hsl(215, 51%, 70%);
 }

 .outline {
     width: 2.0625rem;
     height: 2.0625rem;
     background-color: white;
     border-radius: 50%;
 }

 hr {
     color: hsl(215, 32%, 27%);
     width: 100%;
     margin-top: 1.5rem;
     margin-bottom: 1.5rem;
 }

 .creator {
     display: flex;
     align-items: center;
 }

 .outline {
     display: grid;
     place-content: center;
 }

 .avatar {
     width: 2rem;
     height: 2rem;
 }

 .creation-text {
     color: hsl(215, 51%, 70%);
     padding-left: 1rem;
     padding-right: .3rem;
 }

 .jules-wyvern {
     color: white;
 }

 .jules-wyvern:hover,
 .equilibrium:hover {
     color: hsl(178, 100%, 50%);
 }

 .image-container:hover {
     background-color: hsl(178, 100%, 50%);
 }

 .cube:hover {
     opacity: .5;
 }

 .image-container:hover .hidden-eye {
     opacity: 1;
 }